.paragraph {
  display: flex;
  line-height: 1;
  padding: 40px;
  max-width: 1280px;
  color: black;
  flex-wrap: wrap;
  margin: auto;

  .word {
    position: relative;
    margin-right: 12px;
    margin-top: 12px;
    .shadow {
      position: absolute;
      opacity: 20%;
    }
  }

}

.textCenter {
  text-align: center;
}